<svg xmlns="http://www.w3.org/2000/svg" viewBox="100 0 1340 320">
    <path fill="#829bb4" fill-opacity="1"
        d="M0,192L120,208C240,224,480,256,720,256C960,256,1200,224,1320,208L1440,192L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z">
    </path>
</svg>
<div class = "envFooter">
    
    <div class = "lineup">   
        <a href="https://github.com/" class="footer">Github</a>
        <a href="../views/index.hbs" class="footer">Home</a>
        <p>Designed and built by <a href="https://noobnonstop.github.io/portfolio/index.html" target="blank">Siddhant</a>.</p>
        Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a
            href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
    </div>
    
    

</div>
