body {
    background-color: #eaf1f3;
}


.slidingCard {
    background-color: white;
    text-align: center;
    border: white 2px solid;
    padding: 1%;
    width: 40%;

}


.txt {
    font-weight: 600;
}